@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224, 71%, 4%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 239, 84%, 67%;
    --success: 110, 59%, 44.3%;
    --primary-bg: 239, 84%, 67%;
    --primary-text: 239, 84%, 67%;
    --primary-icon: 243, 75%, 59%;
    --primary-border: 243, 75%, 59%;
    --primary-foreground: 0 0% 98%;
    --secondary: 26, 82%, 53%;
    --secondary-bg: 26, 82%, 53%;
    --secondary-text: 26, 82%, 53%;
    --secondary-icon: 22, 79%, 48%;
    --secondary-border: 22, 79%, 48%;
    --secondary-foreground: 0 0% 98%;
    --muted: 215, 14%, 34%;
    --muted-border: 224, 71%, 4%, 0.1;
    --muted-foreground: 0 0% 100%;
    --accent: 220, 14%, 96%;
    --accent-foreground: 0 0% 9%;
    --destructive: 9, 99%, 53%;
    --destructive-bg: 9, 99%, 53%;
    --destructive-text: 5, 94%, 48%;
    --destructive-icon: 5, 94%, 48%;
    --destructive-border: 5, 94%, 48%;
    --destructive-foreground: 0 0% 98%;
    --disabled: 216, 12%, 84%;
    --disabled-foreground: 0 0% 100%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: var(--success);
    --chart-2: var(--destructive-text);
    --chart-3: var(--secondary-text);
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224, 71%, 4%;
    --sidebar-primary: 220, 14%, 96%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 226, 100%, 97%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 0 0% 89.8%;
    --sidebar-ring: 0 0% 3.9%;
    --th-colour: 240, 6%, 95%;
    --td-selected: 220, 14%, 95%;
    --primary-surface: 226, 100%, 97%;
    --secondary-surface: 34, 89%, 96%;
    --success-surface: 103, 84%, 95%;
    --destructive-surface: 17, 100%, 96%;
    --subtle: 0, 0%, 15%;
  }
  .dark {
    --background: 224, 71%, 4%;
    --foreground: 0 0% 100%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 239, 84%, 67%;
    --primary-bg: 239, 84%, 67%;
    --primary-text: 239, 84%, 67%;
    --primary-icon: 243, 75%, 59%;
    --primary-border: 243, 75%, 59%;
    --primary-foreground: 0 0% 98%;
    --secondary: 26, 82%, 53%;
    --secondary-bg: 26, 82%, 53%;
    --secondary-text: 26, 82%, 53%;
    --secondary-icon: 22, 79%, 48%;
    --secondary-border: 22, 79%, 48%;
    --secondary-foreground: 0 0% 98%;
    --disabled: 217, 19%, 27%;
    --disabled-foreground: 0 0% 100%;
    --muted: 218, 11%, 65%;
    --muted-border: 0, 0%, 100%, 0.16;
    --muted-foreground: 0 0% 100%;
    --accent: 221, 39%, 11%;
    --accent-foreground: 0 0% 98%;
    --destructive: 9, 99%, 53%;
    --destructive-bg: 9, 99%, 53%;
    --destructive-text: 5, 94%, 48%;
    --destructive-icon: 5, 94%, 48%;
    --destructive-border: 5, 94%, 48%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 224, 71%, 4%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 239, 84%, 67%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 221, 39%, 11%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 14.9%;
    --sidebar-ring: 0 0% 83.1%;
    --th-colour: 220, 39%, 11%;
    --td-selected: 220, 29%, 12%;
    --primary-surface: 244, 47%, 20%;
    --secondary-surface: 14, 70%, 15%;
    --success-surface: 115, 76%, 10%;
    --destructive-surface: 357, 84%, 15%;
    --subtle: 0, 0%, 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
